RewriteEngine On
RewriteCompatibility2 On
RepeatLimit 200
RewriteBase 
# unsupported directive: [ISAPI_Rewrite]

# 这是 Rewrite 规则,如果你要使用 Rewrite 功能,请把这个文件放到你的空间根目录(前提是你的空间安装并支持 Rewrite 组件,相关帮助信息可以访问 www.laoy.net 查询)

# 老y文章管理系统 Rewrite 规则
# 如果你不了解 Rewrite 规则,请不要改动

# 内容页分页

RewriteRule ^(.*)/html/([0-9]+)_([0-9]+)\.html$ $1/list\.asp\?id=$2&page=$3 [I,O]

# 内容页

RewriteRule ^(.*)/html/([0-9]+)\.html$ $1/list\.asp\?id=$2 [I,O]

# 栏目分页

RewriteRule ^(.*)/class_([0-9]+)_([0-9]+)\.html$ $1/class\.asp\?id=$2&page=$3 [I,O]

# 栏目首页

RewriteRule ^(.*)/class_([0-9]+)\.html$ $1/class\.asp\?id=$2 [I,O]